html
    head
        title="RSVP - Guest List"
    body
        h1="Guest List"
        h2="Comin"
        ul
            each guest in guestArray
                if(guest.attending==1)
                    li=guest.name

        h2="Not Comin"
        ul
            each guest in guestArray
                if(guest.attending==0)
                    li=guest.name