html
    head
        title="RSVP Form"
    body
        h1="Dumb Wedding RSVP"
        form(action="/reply" method="POST")
            fieldset
                legend="Your Contact Information"
                label(for="name")="Name"
                input(type="text", name="name" required)
                label(for="email")="Email"
                input(type="text", name="email" required)
            fieldset
                legend="You gon be there?"
                input(type="radio", name="attending", id="attending" value="1")
                label(for="attending")="I be there"
                input(type="radio", name="attending", id="notAttending" value="0")
                label(for="notAttending")="Nah fam"
            fieldset
                legend="How many you bringin?"
                label(for="guestNumber")="How many you bringin?"
                input(type="number", name="guestNumber", if="guestNumber" min="0" max="8")
            fieldset
                input(type="submit" value="Submit")
                